# MultiMC instance files
/instance.cfg
/mmc-pack.json
/.packignore
/natives/*

# Modpack files (whitelist)
/.minecraft/*
!/.minecraft/config
!/.minecraft/scripts
!/.minecraft/resources
!/.minecraft/oresources
!/.minecraft/patchouli_books
!/.minecraft/mods/
/.minecraft/mods/*
!/.minecraft/mods/.index/


# Extra
*.jar
/.minecraft/config/jei/worldSettings.cfg
/.minecraft/config/jei/searchColors.cfg
/.minecraft/config/JustEnoughCalculation
/.minecraft/config/splash.properties
/.minecraft/config/probe.cfg
/.minecraft/config/AppliedEnergistics2/items.csv
/.minecraft/config/InvTweaks.cfg
/.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
/.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
/.minecraft/config/astralsorcery/amulet_enchantments.cfg
/.minecraft/config/brandon3055/ProjectIntelligence
/.minecraft/config/brandon3055/contributors.json
/.minecraft/config/mcp_stable-39-1.12.zip
/.minecraft/config/loliasm/methods-stable_39.csv
/.minecraft/config/time.history
/.minecraft/config/thaumicjei_itemstack_aspects.json
/.minecraft/config/tconstruct_oredictcache.dat

# Temporary
/.minecraft/icon.png