# MultiMC instance files
/instance.cfg
/mmc-pack.json
/.packignore
/natives/*

# Modpack files (whitelist)
/.minecraft/*
!/.minecraft/config
!/.minecraft/scripts
!/.minecraft/resources
!/.minecraft/patchouli_books

# Extra
*.jar
*.zsrc
/.minecraft/config/jei/worldSettings.cfg
/.minecraft/config/jei/searchColors.cfg
/.minecraft/config/JustEnoughCalculation
/.minecraft/config/splash.properties
/.minecraft/config/probe.cfg
/.minecraft/config/AppliedEnergistics2/items.csv
/.minecraft/config/InvTweaks.cfg

# Temporary
/.minecraft/icon.png