# MultiMC instance files
/instance.cfg
/mmc-pack.json
/.packignore

# Modpack files (whitelist)
/.minecraft/*
!/.minecraft/config
!/.minecraft/scripts
!/.minecraft/resources
!/.minecraft/patchouli_books

# Extra
*.jar
*.zsrc
/.minecraft/config/jei/worldSettings.cfg
/.minecraft/config/jei/searchColors.cfg
/.minecraft/config/JustEnoughCalculation
/splash.properties

# Temporary
/.minecraft/icon.png