# Configuration file

general {
    # 启用后始终显示配置界面，无视其他设置 [default: false]
    B:"Always Show Config"=false

    # 用于启动的 class path [default: ]
    S:"Class Path"=

    # 是否禁用主菜单上的更新提示弹窗。 [default: false]
    B:"Disable Update Toast"=false

    # Java JVM 参数 [default: -Xmx8g -Xms4g]
    S:"JVM Arguments"=-Xmx8g -Xms4g

    # javaw.exe 或 java 二进制文件的路径 [default: ]
    S:"Java Path"=

    # 库文件路径，可指向启动器库路径以复用，留空则使用默认 relauncher/ [default: ]
    S:"Library Path"=

    # 本地Cleanroom MMC包zip文件路径。留空使用内置包。 [default: ]
    S:"Local MMC Pack Path"=

    # 下载文件的最大尝试次数 [range: 1 ~ 65535, default: 5]
    I:"Maximum Retry"=5

    # 下载多个文件时的最大并发数 [range: 1 ~ 65535, default: 5]
    I:"Maximum Session"=5

    # 将库文件放在其组名目录下 [default: true]
    B:"Place in Group Name"=true

    # 代理地址 [default: ]
    S:"Proxy Address"=

    # 代理端口 [range: 0 ~ 65535, default: 0]
    I:"Proxy Port"=0

    # 启动时是否显示配置GUI。一次成功启动后会被设为false。§l如果想更新Cleanroom，重置该项。§r [default: false]
    B:"Show Config"=false

    # 启用时使用指定的本地MMC包zip文件。未指定路径时回退使用缓存或内置包。不启用时总是从远程下载最新包，无视缓存。 [default: false]
    B:"Use Local MMC Pack"=false

    # 使用镜像和代理以加速中国大陆下载 [default: false]
    B:"Use Mirror"=false
}


