# Configuration file

general {
    # whether output dzs files
    B:dumpDZS=true

    # Dump Native members
    B:dumpNativeMembers=true

    # If true, outputs the source of expansion members in dzs
    B:outputSourceExpansionMembers=true
}


